{%extends "_global/index.html"%}

{% block main %} 

    <div class="container">
        <div class="row">
           
                {% for package  in packages %}
                    <div class="col-md-3 mt-3">
                        <div class="card">
                            <img class="card-img-top" src="{{BASE}}assets/uploads/thumbnail1.jpg" alt="Card image cap"/>
                               <div class="card-img-overlay">
                                <h5 class="card-title blue">{{package.name|e}}</h5>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{package.title|e}}</h5>
                                <p class="card-text">{{package.number_of_nights|e}} nights, {{package.begins_at|e|date("d/m/Y")}}</p>

                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Capacity: {{package.number_of_places|e}}</li>
                                <li class="list-group-item">Places left: {{package.number_of_places-package.reservations_count}}</li>
                                <li class="list-group-item">Offer expires: {{package.offer_expires_at|date("d/m/Y")}}</li>
                                <li class="list-group-item"> <a href="{{BASE}}package/{{package.package_id}}" class="card-link btn btn-primary">More info</a> &nbsp; &euro;{{package.price}}</li>
                            </ul>
                            
                        </div>
                    </div>

                {%endfor%}
            
        </div>
            
    </div>
                <br>
            
     
{%endblock%}

