{%extends "_global/index.html"%}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col text-align-left">
                <h1>{{package.title}}</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-8">
                <img src="{{BASE}}/assets/uploads/{{package.package_id}}.jpg" class="rounded img-fluid" alt="Responsive image of package">
                
                
                {#<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                         <img class="d-block w-100" src="" alt="First slide">
                        </div>
                        <div class="carousel-item">
                          <img class="d-block w-100" src="" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>#}
            </div>
            <div class="col-sm-4">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <strong>Departure</strong>
                        </td>
                        <td>{{package.begins_at|e|date("d/m/Y")}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Nights</strong>
                        </td>
                        <td>{{package.number_of_nights|e}}</td>
                    </tr>
                </table>
                <table class="table table-bordered">
                    <tr>
                        <td>{{package.description|e}}</td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <tr>
                        <td>
                            <strong>Country</strong>
                        </td>
                        <td>{{package.name|e}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Accommodation</strong>
                        </td>
                        <td>{{package.property_name|e}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Transportation</strong>
                        </td>
                        <td>{{package.transportation|e}}</td>
                    </tr>
                </table>
            </div>
        </div>
                    <br>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <strong>Capacity</strong>
                        </td>
                        <td>{{package.number_of_places}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Left places</strong>
                        </td>
                        <td>{{package.number_of_places-package.reservations_count}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Offer expires</strong>
                        </td>
                        <td>{{package.offer_expires_at}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Price</strong>
                        </td>
                        <td>{{package.price}} &euro;</td>
                    </tr>
                </table>
               
            </div>
        </div>
    </div>

{%endblock%}