{%extends "_global/dashboard.html"%}
{% block breadcrumb %}
    Packages </li> <li class="breadcrumb-item active">Add package</li>
{% endblock breadcrumb %}
{% block dashboard_main %}
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <i class="fa fa-plane"></i> Add package form</div>
    <div class="card-body">
        <div class="row justify-content-md-center">
            <div class="col-md-6">

                <form class="client-form" method="POST" enctype="multipart/form-data">                   
                    <div class="form-group">
                        <label for="title">Title of package: </label>
                        <input class="form-control" type="text" id="title" name="title" pattern=".*[^\s]{3,}.*" required>
                    </div>
                    <div class="form-group">
                        <label for="accommodation">Accommodation: </label>
                        <select class="form-control" name="accommodation" id="accommodation" required>
                            <option value="" disabled selected>Choose accommodation...</option>
                            {% for one_accommodation in accommodation %}
                                <option value="{{one_accommodation.accommodation_id}}">{{one_accommodation.property_name|escape}} </option>
                            {% endfor %}
                        </select>
                    </div>   
                    <div class="form-group">
                        <label for="number_of_places">Number of places: </label>
                        <input class="form-control" type="number" min="1" step="1" id="number_of_places" name="number_of_places" required>
                    </div>
                    <div class="form-group">
                        <label for="reservations_count">Reservations count: </label>
                        <input class="form-control" type="number" min="0" step="1" id="reservations_count" name="reservations_count"  required>
                    </div>
                    <div class="form-group">
                        <label for="begins_at">Begins at: </label>
                        <input class="form-control" type="date" id="begins_at" name="begins_at"  required>
                    </div>
                    <div class="form-group">
                        <label for="offer_expires_at">Offer expires at: </label>
                        <input class="form-control" type="date" id="offer_expires_at" name="offer_expires_at" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Price: </label>
                        <input class="form-control" type="number" id="price" min="0.01" step="0.01" name="price" required>
                    </div>

                    <div class="form-group">    
                        <label for="transportation">Transportation: </label>
                        <select class="form-control" name="transportation" id="transportation" required>
                            <option value="" disabled selected>Choose transportation...</option>
                            <option value="SELF TRANSPORT">Self transportation</option>
                            <option value="BUS">Bus</option>
                            <option value="AIRPLANE">Airplane</option>
                            <option value="MINIBUS">Minibus</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="number_of_nights">Number of nights: </label>
                        <input class="form-control" type="number" id="number_of_nights" min="1" step="1" name="number_of_nights" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description: </label>
                        <textarea class="form-control" rows="5" id="description" name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="image">Image: </label>
                        <input class="form-control" title="Upload image, only JPG format under 3 MB allowed" type="file" id="image" name="image" accept="image/jpeg">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-plane"></i>
                            Add package
                        </button>
                    </div>
                    <div class="alert alert-danger d-none" id="error-message"></div>

                </form>
            </div>
        </div>
    </div>

</div>





{% endblock %}