{%extends "_global/dashboard.html"%}
{% block breadcrumb %}
    Packages </li> <li class="breadcrumb-item active">Edit package</li>
{% endblock breadcrumb %}
{% block dashboard_main %}
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <i class="fa fa-plane"></i> Edit package form</div>
    <div class="card-body">
        <div class="row justify-content-md-center">
            <div class="col-md-6">

                <form class="client-form" method="POST" enctype="multipart/form-data" onsubmit="return validateClientForm();">

                    <div class="form-group">
                        <label for="title">Title of package: </label>
                        <input class="form-control" type="text" id="title" name="title" value="{{ package.title|escape }}" pattern=".*[^\s]{3,}.*" required>
                    </div>
                    <div class="form-group">
                        <label for="number_of_places">Number of places: </label>
                        <input class="form-control" type="number" min="1" step="1" id="number_of_places" name="number_of_places" value="{{ package.number_of_places|escape }}" required>
                    </div>
                    <div class="form-group">
                        <label for="reservations_count">Reservations count: </label>
                        <input class="form-control" type="number" min="0" step="1" id="reservations_count" name="reservations_count" value="{{ package.reservations_count|escape }}" required>
                    </div>
                    <div class="form-group">
                        <label for="begins_at">Begins at: </label>
                        <input class="form-control" type="date" id="begins_at" name="begins_at" value="{{ package.begins_at|escape }}" required>
                    </div>
                    <div class="form-group">
                        <label for="offer_expires_at">Offer expires at: </label>
                        <input class="form-control" type="date" id="offer_expires_at" name="offer_expires_at" value="{{ package.offer_expires_at|escape }}" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Price: </label>
                        <input class="form-control" type="number" id="price" min="0" step="0.01" name="price" value="{{ package.price|escape }}" required>
                    </div>
                    <div class="form-group">
                        <label for="accommodation">Accommodation: </label>
                        <select class="form-control" name="accommodation" id="accommodation" required>
                                <option value="" disabled>Choose accommodation..</option>
                            {% for one_accommodation in accommodation %}
                                <option value="{{one_accommodation.accommodation_id}}" {%if one_accommodation.accommodation_id == package.accommodation_id %} selected {%endif%}>{{one_accommodation.property_name|escape}} </option>
                            {% endfor %}
                        </select>
                    </div>    
                    <div class="form-group">    
                        <label for="transportation">Transportation: </label>
                        <select class="form-control" name="transportation" id="transportation" required>
                            <option value="" disabled selected>Choose transportation...</option>
                            <option value="SELF TRANSPORT">Self transportation</option>
                            <option value="BUS">Bus</option>
                            <option value="AIRPLANE">Airplane</option>
                            <option value="MINIBUS">Minibus</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="number_of_nights">Number of nights: </label>
                        <input class="form-control" type="number" id="number_of_nights" min="1" step="1" name="number_of_nights" value="{{ package.number_of_nights|escape }}" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description: </label>
                        <textarea class="form-control" rows="5" id="description" name="description">{{ package.description|escape }}</textarea>
                       {# <input class="form-control" type="text" id="description" value="{{ package.description|escape }}" name="description" pattern=".*[^\s]{3,}.*" >#}
                    </div>
                    <div class="form-group">
                        <label for="image">Image: </label>
                        <input class="form-control" type="file" id="image" name="image" accept="image/jpeg" >
                    </div>
                    <div class="form-check">  
                        
                        <input class="form-check-input" type="radio" name="is_archived" id="exampleRadios1" value="0" {%if  package.is_archived==0%}checked{%endif%}>
                        <label class="form-check-label"  for="exampleRadios1">Active package
                        </label>                       
                    </div>
                    <div class="form-check">
                        
                        <input class="form-check-input" type="radio" name="is_archived" id="exampleRadios2" value="1" {%if  package.is_archived==1%}checked{%endif%}>       
                        <label class="form-check-label"  for="exampleRadios2"> Archived package</label>
                    </div>
                        <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-pencil-square-o"></i>
                            Edit package
                        </button>
                    </div>
                    <div class="alert alert-danger d-none" id="error-message"></div>

                </form>
            </div>
        </div>
    </div>

</div>





{% endblock %}