{%extends "_global/dashboard.html"%}
{% block breadcrumb %}
    Active packages</li>
{% endblock breadcrumb %}
{% block dashboard_main %}
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <i class="fa fa-list-alt"></i> List all active packages</div>
    <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="tabela_kupci">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Country</th>
                                <th>Title</th>
                                <th>Number of places</th>
                                <th>Reservations count</th>
                                <th>Begins at</th>
                                <th>Offer expires at</th>
                                <th>Created at</th>
                                <th>Price</th>
                                <th>Accommodation</th>
                                <th>Transportation</th>
                                <th>Number of nights</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for package in packages %}
                                <tr>
                                    <td>{{package.package_id}}</td>
                                    <td>{{package.name|e}}</td>
                                    <td>{{package.title|e}}</td>
                                    <td>{{package.number_of_places|e}}</td>
                                    <td>{{package.reservations_count|e}}</td>
                                    <td>{{package.begins_at|e}}</td>
                                    <td>{{package.offer_expires_at|e}}</td>
                                    <td>{{package.created_at|e}}</td>
                                    <td>{{package.price|e}}</td>
                                    <td>{{package.property_name|e}}</td>
                                    <td>{{package.transportation|e}}</td>
                                    <td>{{package.number_of_nights|e}}</td>
                                    <td><a href="{{BASE}}agent/package/edit/{{package.package_id}}" class="btn btn-primary btn-xs active" role="button" aria-pressed="true"><i class="fa fa-pencil-square-o"></i></a></td>
                                </tr>

                            {%endfor%}
                        </tbody>
                    </table>
                
            </div>
                            </div>
    <div class="card-footer small text-muted">Updated {{"now"|date('d.m.Y. H:i:s')}}</div>
</div>
{%endblock%}