{%extends "_global/dashboard.html"%}
{% block breadcrumb %}
   Add new package</li>
{% endblock breadcrumb %}
{% block dashboard_main %}
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <i class="fa fa-plane"></i> Add new package form</div>
    <div class="card-body">
        <div class="alert alert-danger" role="alert">{{message}}</div>
        <a href="{{BASE}}agent/packages/add" class="badge badge-info">Go back</a>
    </div>
</div>
{%endblock%}