{%extends "_global/dashboard.html"%}

{% block dashboard_main %}
   <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Go 2 Country</h1>
    <p class="lead">This is dashboard. Agent can add, modify or delete content. If you are not an agent please log out!</p>
  </div>
</div>
{%endblock%}