{%extends "_global/index.html"%}
{% block main %}
    <form class="form-signin" action="{{BASE}}login" method="POST">
      <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
      <label for="inputUsername" class="sr-only">Email address</label>
      <input type="text" id="inputUsername" name="login_username" class="form-control" placeholder="Username" pattern=".*[^\s]{2,}.*" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="login_password" class="form-control" placeholder="Password" required>
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>

{%endblock%}