{%extends "_global/index.html"%}
{% block main %}
   

    <div id="map"></div> 


    <!-- amCharts javascript code -->

    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>


    <script>
        AmCharts.makeChart("map", {
            "type": "map",
            "pathToImages": "http://www.amcharts.com/lib/3/images/",
            "addClassNames": true,
            "fontSize": 15,
            "color": "#000000",
            "projection": "miller",
            "backgroundAlpha": 1,
            "backgroundColor": "rgba(74,118,194,1)",
            "dataProvider": {
                "map": "worldLow",
                "getAreasFromMap": true,
                "areas": [
                    {% for package in packages %}
                    {
                        "id":"{{package.amchart_id}}",
                        "showAsSelected": true,
                        "url":"{{BASE}}country/{{package.name | lower}}",
                        "color":"rgba(16, 168, 54, 1)"
                        
                        
                    },
                     {%endfor%}
                ]
            },
            "balloon": {
                "horizontalPadding": 15,
                "borderAlpha": 0,
                "borderThickness": 1,
                "verticalPadding": 15
            },
            "areasSettings": {
                "color": "rgba(149,253,166,1)",
                "outlineColor": "rgba(74,118,194,1)",
                "rollOverOutlineColor": "rgba(74,118,194,1)",
                "rollOverBrightness": 20,
                "selectedBrightness": 20,
                "selectable": true,
                "unlistedAreasAlpha": 0,
                "unlistedAreasOutlineAlpha": 0

            },
            "imagesSettings": {
                "alpha": 1,
                "color": "rgba(149,253,166,1)",
                "outlineAlpha": 0,
                "rollOverOutlineAlpha": 0,
                "outlineColor": "rgba(74,118,194,1)",
                "rollOverBrightness": 20,
                "selectedBrightness": 20,
                "selectable": true,
                "url": "http://www.amcharts.com"
            },
            "linesSettings": {
                "color": "rgba(149,253,166,1)",
                "selectable": true,
                "rollOverBrightness": 20,
                "selectedBrightness": 20
            },
            "zoomControl": {
                "zoomControlEnabled": true,
                "homeButtonEnabled": false,
                "panControlEnabled": false,
                "right": 38,
                "bottom": 30,
                "minZoomLevel": 0.25,
                "gridHeight": 100,
                "gridAlpha": 0.1,
                "gridBackgroundAlpha": 0,
                "gridColor": "#FFFFFF",
                "draggerAlpha": 1,
                "buttonCornerRadius": 2
            }
        });
    </script>
{%endblock%}