{% extends "_global/index.html" %}

{% block main %}

 
        <div class="container-fluid">
         <div class="alert alert-danger w-75 mx-auto my-5 ">{{message|e}}  <a href="{{ BASE }}login">Try again</a></div>
         </div>

{% endblock %}