html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 40px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  background-color: #e3f2fd;
}

.navbar.navbar-light {
    background-color: #e3f2fd;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {#map {
    width: 100%;
    height: 350px;
}} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {#map {
    width: 100%;
    height: 400px;
}} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {#map {
    width: 100%;
    height: 450px;
}} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {#map {
    width: 100%;
    height: 550px;
}} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {#map {
    width: 100%;
    height: 600px;
}}

@media only screen and (min-width: 1500px) {#map {
    width: 100%;
    height: 880px;
}}

#flag {
    margin-left: 23px;
    margin-bottom: 23px;
}
.card-title.blue { 
    color:#0b4092;
}

body > main > div > div:nth-child(2) > div.col-sm-8 > img
{
    
}

