{%extends "_global/dashboard.html"%}
{% block breadcrumb %}
    List all clients</li>
{% endblock breadcrumb %}
{% block dashboard_main %}
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <i class="fa fa-users"></i> List all clients table</div>
    <div class="card-body">





        <div class="table-responsive">
            <table class="table table-hover" id="tabela_kupci">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name and surname</th>
                        <th>Personal ID</th>
                        <th>Passport</th>
                        <th>Address</th>
                        <th>E-mail</th>
                        <th>Phone</th>
                        <th>Registration date</th>
                        <th>Previous trips</th>
                        <th>Edit</th>

                    </tr>
                </thead>
                <tbody>

                    {% for client in clients %}
                        <tr>
                            <td>{{client.client_id | e}}</td>
                            <td>{{client.firstname|escape}} {{client.lastname|escape}}</td>
                            <td>{{client.jmbg | e}}</td>
                            <td>{{client.passport | e}}</td>
                            <td>{{client.address | e}}</td>
                            <td>{{client.email | e}}</td>
                            <td>{{client.phone | e}}</td>
                            <td>{{client.registered_at | e}}</td>
                            <td><a href="{{BASE}}agent/entries/client/{{client.client_id}}" class="btn btn-primary btn-xs active" role="button" aria-pressed="true"><i class="	fa fa-plane"></i></a></td>
                            <td><a href="{{BASE}}agent/clients/edit/{{client.client_id}}" class="btn btn-primary btn-xs active" role="button" aria-pressed="true"><i class="fa fa-pencil-square-o"></i></a></td>
                        </tr>

                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated {{"now"|date('d.m.Y. H:i:s')}}</div>
</div>

{%endblock%}
