{%extends "_global/dashboard.html"%}
{% block breadcrumb %}
    Add new client</li>
{% endblock breadcrumb %}
{% block dashboard_main %}
    <div class="card mb-3">
        <div class="card-header font-weight-bold">
            <i class="fa fa-id-card-o"></i> Add new client form</div>
        <div class="card-body">
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <form class="client-form" method="POST" onsubmit="return validateClientForm();">
                        <div class="form-group">
                            <label for="firstname">Firstname: </label>
                            <input class="form-control" type="text" id="firstname" name="firstname" required>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Lastname: </label>
                            <input class="form-control" type="text" id="lastname" name="lastname" required>
                        </div>
                        <div class="form-group">
                            <label for="jmbg">Personal ID: </label>
                            <input class="form-control" type="number" min="1000000000000" step="1" id="jmbg" name="jmbg" required>
                        </div>
                        <div class="form-group">
                            <label for="passport">Passport: </label>
                            <input class="form-control" type="text"  id="passport" name="passport" required>
                        </div>
                        <div class="form-group">
                            <label for="address">Address: </label>
                            <input class="form-control" type="text" id="address" name="address" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email: </label>
                            <input class="form-control" type="email" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone: </label>
                            <input class="form-control" type="tel" id="phone" name="phone" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                Add client
                            </button>
                        </div>
                        <div class="alert alert-danger d-none" id="error-message"></div>

                    </form>
                </div>
            </div>
        </div>
        
    </div>




    <script src="{{BASE}}assets/js/validators.js"></script>
{% endblock %}