{%extends "_global/dashboard.html"%}
{% block breadcrumb %}
    List all clients</li> <li class="breadcrumb-item active">Edit client</li>
{% endblock breadcrumb %}
{% block dashboard_main %}
    <div class="card mb-3">
        <div class="card-header font-weight-bold">
            <i class="fa fa-id-card-o"></i> Edit client form</div>
        <div class="card-body">
            <div class="row justify-content-md-center">
                <div class="col-md-6">

                    <form class="client-form" method="POST" onsubmit="return validateClientForm();">
                        <div class="form-group">
                            <label for="firstname">Firstname: </label>
                            <input class="form-control" type="text" id="firstname" name="firstname" value="{{ client.firstname|escape }}" required>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Lastname: </label>
                            <input class="form-control" type="text" id="lastname" name="lastname" value="{{ client.lastname|escape }}" required>
                        </div>
                        <div class="form-group">
                            <label for="jmbg">Personal ID: </label>
                            <input class="form-control" type="number" min="1000000000000" step="1" id="jmbg" name="jmbg" value="{{ client.jmbg|escape }}" required>
                        </div>
                        <div class="form-group">
                            <label for="passport">Passport: </label>
                            <input class="form-control" type="text" id="passport" name="passport" value="{{ client.passport|escape }}" required>
                        </div>
                        <div class="form-group">
                            <label for="address">Address: </label>
                            <input class="form-control" type="text" id="address" name="address" value="{{ client.address|escape }}" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email: </label>
                            <input class="form-control" type="email" id="email" name="email" value="{{ client.email|escape }}" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone: </label>
                            <input class="form-control" type="tel" id="phone" name="phone" value="{{ client.phone|escape }}" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-pencil-square-o"></i>
                                Edit client
                            </button>
                        </div>
                        <div class="alert alert-danger d-none" id="error-message"></div>

                    </form>
                </div>
            </div>
        </div>

    </div>




    <script src="{{BASE}}assets/js/validators.js"></script>
{% endblock %}