{%extends "_global/dashboard.html"%}
{% block breadcrumb %}
    Add new client</li>
{% endblock breadcrumb %}
{% block dashboard_main %}
<div class="row">
    <div class="col-12">
         <div class="alert alert-danger">{{message|e}}</div>
    </div>
</div>
  
        
  
        

{% endblock %}