<!DOCTYPE html>

<html lang="en">
    <head>       
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Travel agency Go2Country. Choose country where you want to travel.">
        <meta name="author" content="Luka Kovacevic | 2015203008 | Singidunum Univesity">
        <title>Go2Country | Agent Dashboard</title>
        <link rel="shortcut icon" href="{{BASE}}assets/img/favicon.png" type="image/png">
        <link href="{{BASE}}assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="{{BASE}}assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="{{BASE}}assets/css/sb-admin.css" rel="stylesheet" type="text/css"/>
        <link href="{{BASE}}assets/css/main.css" rel="stylesheet" type="text/css"/>
    </head>

    <body class="fixed-nav sticky-footer bg-dark" id="page-top">

        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
                <a class="navbar-brand" href="{{BASE}}"> <i class="fa  fa-paper-plane-o"></i> Go 2 Country</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">

                    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                            <a class="nav-link" href="{{BASE}}agent/dashboard">
                                <i class="fa fa-fw fa-dashboard"></i>
                                <span class="nav-link-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="New Entry">
                            <a class="nav-link" href="{{BASE}}agent/entries/add">
                                <i class="fa fa-fw fa-file-text-o"></i>
                                <span class="nav-link-text">New Entry</span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add new package">
                            <a class="nav-link" href="{{BASE}}agent/packages/add">
                                <i class="fa fa-fw fa-plane"></i>
                                <span class="nav-link-text">Add New Package</span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="List all active packages">
                            <a class="nav-link" href="{{BASE}}agent/packages">
                                <i class="fa fa-spinner fa-fw"></i>
                                <span class="nav-link-text">Active Packages</span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="List all archived packages">
                            <a class="nav-link" href="{{BASE}}agent/packages/archived">
                                <i class="fa fa-fw fa-archive"></i>
                                <span class="nav-link-text">Archived Packages</span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Countries">
                            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseCountry" data-parent="#exampleAccordion">
                                <i class="fa fa-fw fa-globe"></i>
                                <span class="nav-link-text">Country</span>
                            </a>
                            <ul class="sidenav-second-level collapse" id="collapseCountry">
                                <li>
                                    <a href="{{BASE}}agent/countries/add">Add new</a>
                                </li>
                                <li>
                                    <a href="{{BASE}}agent/countries">List all</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Accommodation">
                            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseAccommodation" data-parent="#exampleAccordion">
                                <i class="fa fa-fw fa-bed"></i>
                                <span class="nav-link-text">Acommodation</span>
                            </a>
                            <ul class="sidenav-second-level collapse" id="collapseAccommodation">
                                <li>
                                    <a href="{{BASE}}agent/accommodation/add">Add new</a>
                                </li>
                                <li>
                                    <a href="{{BASE}}agent/accommodation">List all</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Accommodation">
                            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseClients" data-parent="#exampleAccordion">
                                <i class="fa fa-fw fa-users"></i>
                                <span class="nav-link-text">Clients</span>
                            </a>
                            <ul class="sidenav-second-level collapse" id="collapseClients">
                                <li>
                                    <a href="{{BASE}}agent/clients/add">Add new</a>
                                </li>
                                <li>
                                    <a href="{{BASE}}agent/clients">List all</a>
                                </li>
                            </ul>
                        </li>
                    </ul>


                    <ul class="navbar-nav ml-auto">



                        <li class="nav-item mr-3">
                            <a class="btn btn-primary" href="{{BASE}}">
                                <i class="fa fa-fw fa-home"></i>Visit site</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="content-wrapper">
                <div class="container-fluid">
                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{BASE}}agent/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">{% block breadcrumb %}
                            {%endblock breadcrumb%}

                        </ol>

                        {% block dashboard_main %}
                        {%endblock dashboard_main%}

                    </div> 
                </div>
            </main>
            <!-- /.container-fluid-->
            <!-- /.content-wrapper-->
            <footer class="sticky-footer">
                <div class="container">
                    <div class="text-center">
                        <small>  <span class="text-muted">Copyright &copy; Luka Kovacevic {{"now"|date('Y')}} </span></small>
                    </div>
                </div>
            </footer>

            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fa fa-angle-up"></i>
            </a>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">Are you sure you want to logout?</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="{{BASE}}agent/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <script src="{{BASE}}assets/js/validators.js"></script>
            <script src="{{BASE}}assets/libs/jquery/dist/jquery.min.js"></script>
            <script src="{{BASE}}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        </body>
    </html>
