<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Go 2 Country | Travel Agency</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{BASE}}assets/img/favicon.png" type="image/png">
        <link href="{{BASE}}assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="{{BASE}}assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="{{BASE}}assets/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    
    <body>
        <header>
        {% if sessionAgentId > 0 %}
        
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1">Agent</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContenti" aria-controls="navbarSupportedContenti" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContenti">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ml-2">
                        <a class="nav-link" href="{{BASE}}agent/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item  ml-2">
                        <a class="nav-link" href="{{BASE}}agent/logout">Logout</a>
                    </li>
                  
                </ul>
                
            </div>
        </nav>
            
        {%endif%}
        
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="{{BASE}}"><img src="{{BASE}}assets/img/logo.png" width="140" height="45" class="d-inline-block align-top" alt="logo"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ml-2">
                        <a class="btn btn-outline-primary" href="{{BASE}}">World Map <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  ml-2">
                        <a class="btn btn-outline-primary" href="{{BASE}}packages">Travel packages</a>
                    </li>
                    
                   {# <li class="nav-item">
                        <a class="nav-link" href="{{BASE}}login">Login</a>
                    </li>#}
                </ul>
                {#<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>#}
            </div>
        </nav>
        </header>
        <main>
            {% block main %}
            {%endblock%}
        </main>       

        <footer class="footer">
      <div class="container text-center">
          <small>  <span class="text-muted">Travel Agency Go2Country | Copyright &copy; Luka Kovacevic {{"now"|date('Y')}} </span></small>
      </div>
    </footer>
        <script src="{{BASE}}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{BASE}}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
