{%extends "_global/dashboard.html"%}
{% block breadcrumb %}
    List all accommodation</li>
{% endblock breadcrumb %}
{% block dashboard_main %}
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <i class="fa fa-bed"></i> Delete accommodation</div>
    <div class="card-body">
        <div class="alert alert-danger" role="alert">{{message}}</div>
        <a href="{{BASE}}agent/accommodation" class="badge badge-info">Go back</a>
    </div>
</div>
{%endblock%}