{%extends "_global/dashboard.html"%}
{% block breadcrumb %}
    Edit accommodation</li>
{% endblock breadcrumb %}
{% block dashboard_main %}
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <i class="fa fa-bed"></i>  Edit accommodation form</div>
    <div class="card-body">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <form class="client-form" method="POST">
                    <div class="form-group">
                        <label for="property_name">Property name: </label>
                        <input class="form-control" type="text" value="{{accommodation.property_name}}" id="property_name" name="property_name" required pattern="^[A-Z][a-z]+(\s[A-Z][a-z]+)*$"> 
                    </div>
                    <div class="form-group">
                        <label for="country_id">Country: </label>
                        <select class="form-control" name="country_id" id="country_id" required>
                            <option>-</option>   
                        {% for country in countries %}
                            <option value="{{country.country_id}}" {%if accommodation.country_id==country.country_id%} selected {%endif%}>{{country.name|escape}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Edit property
                        </button>
                    </div>
                   

                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}