{%extends "_global/dashboard.html"%}
{% block breadcrumb %}
    List all accommodation</li>
{% endblock breadcrumb %}
{% block dashboard_main %}
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <i class="fa fa-bed"></i> List all accommodation</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="tabela_kupci">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Property name</th>
                        <th>Country</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>

                    {% for accommodation in accommodations %}
                        <tr>
                            <td>{{accommodation.accommodation_id}}</td>
                            <td>{{accommodation.property_name|e}}</td>
                            <td>{{accommodation.name|e}}</td>
                           
                            <td><a href="{{BASE}}agent/accommodation/edit/{{accommodation.accommodation_id}}" class="btn btn-primary btn-xs active" role="button" aria-pressed="true"><i class="fa fa-pencil-square-o"></i></a></td>
                            <td><a href="{{BASE}}agent/accommodation/delete/{{accommodation.accommodation_id}}" class="btn btn-primary btn-xs active" role="button" aria-pressed="true"><i class="fa fa-trash-o"></i></a></td>
                        </tr>

                    {%endfor%}
                </tbody>
            </table>
        </div>              
    </div>
</div>
{%endblock%}