{%extends "_global/dashboard.html"%}
{% block breadcrumb %}
    Edit country</li>
{% endblock breadcrumb %}
{% block dashboard_main %}
    <div class="card mb-3">
        <div class="card-header font-weight-bold">
            <i class="fa fa-globe"></i> Edit form</div>
        <div class="card-body">
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <form class="client-form" method="POST">
                        <div class="form-group">
                            <label for="name">Country name: </label>
                            <input class="form-control" type="text" id="name" value="{{country.name|e}}" name="name" pattern="^([A-Z][a-z]{2,}\s?)*$" required>
                        </div>
                        <div class="form-group">
                            <label for="amchart_id">AmChart ID: </label>
                            <input class="form-control" type="text" id="amchart_id" value="{{country.amchart_id|e}}" name="amchart_id" pattern="^[A-Z]{2}$" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                Edit country
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>

{% endblock %}