{%extends "_global/dashboard.html"%}
{% block breadcrumb %}
    List all countries</li>
{% endblock breadcrumb %}
{% block dashboard_main %}
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <i class="fa fa-globe"></i> List all countries</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="tabela_kupci">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>AmChart ID</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>

                    {% for country in countries %}
                        <tr>
                            <td>{{country.country_id}}</td>
                            <td>{{country.name|e}}</td>
                            <td>{{country.amchart_id}}</td>
                            <td><a href="{{BASE}}agent/countries/edit/{{country.country_id}}" class="btn btn-primary btn-xs active" role="button" aria-pressed="true"><i class="fa fa-pencil-square-o"></i></a></td>
                            <td><a href="{{BASE}}agent/countries/delete/{{country.country_id}}" class="btn btn-primary btn-xs active" role="button" aria-pressed="true"><i class="fa fa-trash-o"></i></a></td>
                        </tr>

                    {%endfor%}
                </tbody>
            </table>
        </div>              
    </div>
</div>
{%endblock%}