{%extends "_global/dashboard.html"%}
{% block breadcrumb %}
    New Entry</li>
{% endblock breadcrumb %}
{% block dashboard_main %}
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <i class="fa fa-file-text-o"></i> Entry form</div>
    <div class="card-body">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <form class="client-form" method="POST">
                    <div class="form-group">
                        <label for="package_id">Package: </label>
                        <select class="form-control" name="package_id" id="package_id" required>
                            <option value="" disabled selected>Choose package...</option>
                            {% for package in packages %}
                                <option value="{{package.package_id}}" {%if package.reservations_count >= package.number_of_places%}disabled{%endif%}>{{package.title|escape}} ({{package.begins_at}})  [ {{package.reservations_count}} / {{package.number_of_places}} ]</option>
                            {% endfor %}
                        </select>
                        
                    </div>
                    <div class="form-group">
                        <label for="client_id">Client: </label>
                        <select class="form-control" name="client_id" id="client_id" required>
                            <option value="" disabled selected>Choose client...</option>
                            {% for client in clients %}
                                <option value="{{client.client_id}}">{{client.firstname|escape}} {{client.lastname|escape}} ({{client.jmbg|escape}})</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Make new entry
                        </button>
                    </div>


                </form>
            </div>
        </div>
    </div>

</div>
<script>function start() {
        document.getElementById("package_id").addEventListener("change", addActivityItem, false);
    }

    function addActivityItem() {
        if({{package.reservations_count}}=={{package.number_of_places}})
        alert("yeah {{package.reservations_count}}");
    }

    window.addEventListener("load", start, false);</script>

{% endblock %}