{%extends "_global/dashboard.html"%}

{% block dashboard_main %}
    <div class="container_tabela">

        <div class="table-responsive">
            <table class="table table-hover" id="tabela_kupci">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Client name</th>
                        <th>title</th>
                        <th>begins_at</th>
                        <th>price</th>
                        <th>Agent</th>
                        <th>Cancel trip</th>

                    </tr>
                </thead>
                <tbody>

                    {% for entry in entries %}
                        <tr>
                            <td>{{entry.entry_id}}</td>
                            <td>{{entry.firstname|escape}} {{entry.lastname|escape}}</td>
                            <td>{{entry.title|e}}</td>
                            <td>{{entry.begins_at|e}}</td>
                            <td>{{entry.price|e}}</td>
                            <td>{{entry.fullname|e}}</td>
                            <td>{%if entry.is_archived == 0 %}<a  href="{{BASE}}agent/entries/delete/{{entry.entry_id}}" class="btn btn-danger btn-xs" role="button" aria-pressed="true" onclick="return confirm('Are you sure you want to cancel trip? This will delete the entry.');"><i class="fa fa-times-circle"></i></a>{%endif%}</td>
                        </tr>

                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    


{%endblock%}